NODE_ENV = "Mode de execucao do projeto (NODE_ENV = "production" || NODE_ENV = "development")"
MONGO_URI="URI da base de dados mongo DB"

JWT_SECRET="Secret para geracao de tokens"
JWT_EXPIRES_IN= "Duracao do token"

FRONTEND_URL= "URL do frontend"